<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRUG CLASSIFICATION</title>
</head>
<body>
    <h1>DRUG CLASSIFICATION</h1>
    <h2>USING RANDOM FOREST CLASSIFICATION ALGORITHM</h2>
    <form method="Post" action="/predict">
    <p>Age</p>
    <input name="A" required>
    <p>Sex</p>
    <input name="S" required>
    <p>BP</p>
    <input name="B" required>
    <p>Cholesterol</p>
    <input name="C" required>
    <p>Na_to_K</p>
    <input name="N" required>
    <br>
    <br>
    <button type="submit" >Submit</button>
    </form>
</body>
</html>